[AUTOUPDATE]
# Version of the new release
VERSION=0.1.4
 
# Download URL of the ZIP Archive
ARCHIVEURL=https://github.com/challo2018/loxberry-plugin-wifi-presence-unifi/archive/refs/tags/v0.1.4.zip

 
# URL for further information about this release
INFOURL=https://github.com/challo2018/loxberry-plugin-wifi-presence-unifi/release
